<div class="container-fluid px-0 bg-grey py-4">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
        <div class="rr" style="flex:20%">
            <span>Bagikan jika Anda menyukai halaman ini.</span>
        </div>

        <div class="d-flex socmed-like" style="flex:1">
            <div class="d-flex align-items-center">
                <i class="fab fa-facebook-square"></i>
                <span class="dialog">80K</span>
            </div>
            <div class="d-flex align-items-center">
                <i class="fab fa-twitter-square"></i>
                <span class="dialog">450</span>
            </div>
            <div class="d-flex align-items-center">
                <i class="fab fa-google-plus-square"></i>
                <span class="dialog">1900</span>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid px-0 bg-blue py-5">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
        <div class="rr mb-3 mb-md-0">
            <h2 class="text-white mb-0">Perlu <b class="text-white">BANTUAN?</b> Hubungi Kami : <b class="text-white">0274-5305505</b></h2>
        </div>

        <div class="d-flex align-items-center">
            <button class="btn btn-outline-success custom-white-btn">
                <i class="fas fa-comments"></i> Live Chat
            </button>
        </div>
    </div>
</div>
<div class="container-fluid px-0 bg-black py-5">
    <div class="container d-flex justify-content-between flex-column flex-md-row mb-5">
        <ul class="footer-list">
            <li class="head">HUBUNGI KAMI</li>
            <li>0274-5305505</li>
            <li>Senin - Minggu</li>
            <li class="separator">24 Jam Nonstop</li>
            <li>JL. Selokan Mataram Monjali</li>
            <li>Krangjati MT I/304</li>
            <li>Sinduadi, Mlati, Sleman</li>
            <li>Yogyakarta 55284</li>
        </ul>
        <ul class="footer-list">
            <li class="head">LAYANAN</li>
            <li>Domain</li>
            <li>Shared Hosting</li>
            <li>Cloud VPS Hosting</li>
            <li>Web Builder</li>
            <li>Keamanan SSL / HTTPS</li>
            <li>Jasa Pembuatan Website</li>
            <li>Program affiliasi</li>
        </ul>
        <ul class="footer-list">
            <li class="head">SERVICE HOSTING</li>
            <li>Hosting Murah</li>
            <li>Hosting Indonesia</li>
            <li>Hosting Singapura SG</li>
            <li>Hosting PHP</li>
            <li>Hosting Wordpress</li>
            <li>Hosting Laravel</li>
        </ul>
        <ul class="footer-list">
            <li class="head">TUTORIAL</li>
            <li>Knowlage Base</li>
            <li>Blog</li>
            <li>Cara Pembayaran</li>
        </ul>
    </div>
    <div class="container d-flex justify-content-between flex-column flex-md-row">
        <ul class="footer-list">
            <li class="head">TENTANG KAMI</li>
            <li>Tim Niagahoster</li>
            <li>Karir</li>
            <li>Events</li>
            <li>Penawaran & Promo Spesial</li>
            <li>Kontak Kami</li>
        </ul>
        <ul class="footer-list">
            <li class="head">KENAPA PILIH NIAGAHOSTER?</li>
            <li>Support Terbaik</li>
            <li>Garansi Harga Termurah</li>
            <li>Domain Gratis Selamanya</li>
            <li>Datacenter Hosting Terbaik</li>
            <li>Review Pelanggan</li>
        </ul>
        <ul class="footer-list">
            <li class="head">NEWSLETTER</li>
            <li>
                <div class="input-grouped">
                    <input style="padding-left:15px" type="text" class="form-control" placeholder="Email" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-primary" type="button" id="button-addon2">Berlangganan</button>
                </div>
            </li>
            <li>Dapatkan promo dan konten menarik dari penyedia hosting terbaik anda</li>
        </ul>
        <ul class="footer-list">
            <li class="head mb-5"></li>
            <li style="font-size: xx-large;text-align:center">
                <i class="fab fa-facebook "></i>
                <i class="fab fa-twitter mx-3"></i>
                <i class="fab fa-google-plus"></i>
            </li>
        </ul>
    </div>
</div>