<div class="container">
    <div class="d-none d-lg-flex flex-row justify-content-between">
        <div>
            <ul class="nav-list">
                <li>Gratis Ebook 9 Cara Cerdas Menggunakan Domain [ x ]</li>
            </ul>
        </div>
        <div>
            <ul class="nav-list-right">
                <li><i class="fas fa-phone-alt"></i> 0274-5305505</li>
                <li><i class="fas fa-comments"></i> Live Chat</li>
                <li><i class="fas fa-user-circle"></i> Member Area</li>
            </ul>
        </div>
    </div>
    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-stretch align-items-lg-center">
        <div>
            <ul class="nav-list align-items-center">
                <li><img src="/public/assets/images/brand.png" class="img-fluid" style="width: 200px;" /></li>
                <li style="font-size: x-large;" data-bs-toggle="collapse" href="#navbar" role="button" aria-expanded="false" aria-controls="navbarControll">
                    <i class="fas fa-bars d-inline d-lg-none"></i>
                </li>
            </ul>
        </div>
        <div>
            <ul id="navbar" class="nav-list-right">
                <li>Hosting</li>
                <li>Domain</li>
                <li>Server</li>
                <li>Website</li>
                <li>Afiliasi</li>
                <li>Promo</li>
                <li>Pembayaran</li>
                <li>Review</li>
                <li>Kontak</li>
                <li>Blog</li>
            </ul>
        </div>
    </div>
</div>