@font-face {
    font-family: 'roboto-regular';
    src: url('/public/assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'roboto-light';
    src: url('/public/assets/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/public/assets/fonts/Montserrat-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('/public/assets/fonts/Montserrat-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Hairline';
    src: url('/public/assets/fonts/Montserrat-Hairline.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('/public/assets/fonts/Montserrat-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.title, b {
    font-family: 'Montserrat-Bold';
    color:#4c4c4c;
}

.subtitle {
    font-family: 'Montserrat-Light';
    color:#4c4c4c;
}

.green {
    color: #00b348;
}

.nav-list {
    padding-left: 0px;
    margin-top:10px;
}

.nav-list > li {
    font-family: 'roboto-regular';
    display: inline;
    list-style-type: none;
    color: #6d6d6d;
}

.nav-list-right {
    padding-left: 0px;
    margin-top:10px;
}

.nav-list-right > li {
    font-family: 'roboto-regular';
    color: #6d6d6d;
    display: inline;
    list-style-type: none;
    margin-left:25px;
}

.feature-list{
    padding-left: 0px;
}

.feature-list > li {
    padding-left: 0px;
    list-style-type: none;
    font-family: 'roboto-regular';
    color: #6d6d6d;
    margin-bottom:8px;
}

.feature-thumb {
    height:205px;
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.feature-thumb > p {
    position: absolute;
    bottom:-10px;
    margin-bottom: 0px;
}

.banner-image {
    flex:1;
    align-items: flex-end;
}

.banner-image > img {
    width: 450px
}

.packages-head, .packages-feature {
    padding-left: 0px;
}

.packages-head > li {
    list-style-type: none;
}

.packages-feature > li {
    list-style-type: none;
}

.line-through {
    -webkit-text-decoration-line: line-through; /* Safari */
    text-decoration-line: line-through; 
}

.custom-btn {
    border-radius: 20px;
    border-width: 3px;
    font-weight: bold;
}

.highlight {
    font-weight: bold;
    font-size: 40px;
}

.rr, .list-group-item {
    font-family:  'roboto-regular';
    color:#4c4c4c;
}

.rl {
    font-family: 'roboto-light';
    color:#4c4c4c;
}

.best-seller {
    border: 1px solid #008fee;
}

.best-seller > .packages-head {
    background-color: #008fee;
}

.best-seller > .packages-head > li > .subtitle {
    color: #fff !important;
}

.best-seller > .packages-head > li > .title {
    color: #fff !important;
}

.best-seller > .packages-head > .rr {
    background-color: #007fde !important;
    color: #fff !important;
    padding: 5px 0px 5px 0px;
}

.best-seller > .packages-head > li > h3 {
    color: #fff !important;
}

.best-seller > .custom-btn{
    background-color: #007fde !important;
    border-color: #007fde;
    color: #fff !important;
}

.best-seller > .trapesium {
    border-bottom: 27px solid #00b359;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    height: 0;
    width: 132px;
    position: absolute;
    rotate: -43deg;
    left: -31px;
    top: 20px;
    color: #fff;
    font-size: 11px;
}

.thumb-package {
    justify-content: center;
    align-items: center;
    flex: 33.33333%;
}

.thumb-package > img {
    width: 80px;
}

.custom-blue-btn{
    background-color: #007fde !important;
    border-color: #007fde;
    color: #fff !important;
    border-radius: 20px;
}

.custom-white-btn{
    border-color: #fff;
    border-width: 3px;
    color: #fff !important;
    border-radius: 30px;
    font-size: large;
    padding: 10px 50px 10px 50px;
}

.module-list > ul > li {
    list-style-type: none;
}

.module-list > ul {
    padding-left: 0px;
}

.bg-grey {
    background-color: #f7f7f7;
}

.bg-blue {
    background-color: #00a2f3;
}

.bg-black {
    background-color: #303030;
}

.socmed-like > div > i {
    font-size: 40px;
}

.socmed-like > div {
    margin-left: 15px;
}

.socmed-like > div > .fa-facebook-square {
    color:#23599b;
}

.socmed-like > div > .fa-twitter-square {
    color:#00aef1;
}

.socmed-like > div > .fa-google-plus-square {
    color:#fc4a35;
}

.dialog {
    border: 1px solid  #b3b3b8;
    border-radius: 5px;
    color: #b3b3b8;
    font-size: large;
    padding: 4px;
    margin-left:3px;
}

.footer-list {
    padding-left: 0px;
    flex:1;
}

.footer-list > .head {
    color:#707070;
    margin-bottom:30px;
    font-family: 'Montserrat-Bold';
}

.footer-list > .separator {
    margin-bottom:30px;
}

.footer-list > li {
    list-style-type: none;
    color: #aeacac;
    font-family: 'roboto-regular';
    font-size: small;
    line-height: 23px;
}

.footer-list > li > div > input {
    border-radius: 50px;
    padding: 10px 0px 10px 0px;
}

.footer-list > li > div > button {
    border-radius: 50px;
    position: absolute;
    right: 3px;
    top:4px
}

.input-grouped {
    position: relative;
}

@media (max-width: 767.98px) {
    .thumb-package { 
        flex: 1
    }
}

@media (max-width: 991.98px) {
    .nav-list-right > li { 
        display: list-item;
        text-align: center;
        background-color: #007fde;
        color:#fff;
        margin-left: 0px;
        border-bottom: 1px solid #fff;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .nav-list {
        display: flex;
        justify-content: space-between;
    }
}