{% extends "general/layout.html" %}

{% block content %}
    <div class="container d-flex flex-column justify-content-between mt-5">
        <div class="d-flex flex-md-row flex-column justify-content-between mb-5">
            <div class="d-flex flex-column" style="flex:1">
                <h1 class="mb-3 title">PHP Hosting</h1>
                <h3 class="mb-3 subtitle">Cepat, handal, penuh dengan<br /> modul PHP yang Anda butuhkan</h3>
                <ul class="feature-list">
                    <li><i class="fas fa-check-circle green"></i> Solusi PHP untuk performa query yang lebih cepat</li>
                    <li><i class="fas fa-check-circle green"></i> Konsumsi memori yang lebih rendah</li>
                    <li><i class="fas fa-check-circle green"></i> Support PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6, PHP 7</li>
                    <li><i class="fas fa-check-circle green"></i> Fitur enkripsi IonCube dan Zend Guards Loaders</li>
                </ul>
            </div>
            <div class="d-flex flex-column banner-image">
                <img class="img-fluid" src="/public/assets/images/banner_php.svg" />
            </div>
        </div>

        <div class="d-flex flex-md-row flex-column flex-wrap mb-5">
            <div class="text-center feature-thumb mb-3 mb-md-0">
                <img class="img-fluid" src="/public/assets/images/zendguard.svg" />
                <p class="d-none d-lg-block">PHP Zend Guard Loader</p>
            </div>
            <div class="text-center feature-thumb mb-3 mb-md-0">
                <img class="img-fluid" src="/public/assets/images/composer.svg" />
                <p class="d-none d-lg-block">PHP Composer</p>
            </div>
            <div class="text-center feature-thumb mb-3 mb-md-0">
                <img class="img-fluid" src="/public/assets/images/ioncube.svg" />
                <p class="d-none d-lg-block">PHP IonCobeLoader</p>
            </div>
        </div>

        <div class="d-flex flex-column justify-content-center my-5">
            <div class="text-center">
                <h3 class="mb-0 title">Paket Hosting Singapura yang Tepat</h1>
                <h4 class="mb-3 subtitle">Diskon 40% + Domain dan SSL Gratis untuk Anda</h1>
            </div>
        </div>

        <div class="d-flex flex-lg-row flex-column my-5 justify-content-between">
            {% for item in price %}
                {% set classBestSeller = (item.isBestSeller ? "best-seller":"") %}
                <div class="text-center {{ classBestSeller }} mb-3 mb-md-0" style="flex: 1;position: relative;">
                    <div class="title trapesium">
                        <span class="my-auto">BEST SELLER!</span>
                    </div>
                    <ul class="packages-head">
                        <li><h3 class="title">{{ item.packageName }}</h3></li>
                        <li><span class="subtitle line-through">Rp {{ item.normalPrice }}</span></li>
                        {% set discPrice = item.discPrice|split('.') %}
                        <li class="d-flex flex-row align-items-center justify-content-center">
                            <span class="subtitle">Rp&nbsp;</span> 
                            <span class="highlight title">{{ discPrice[0] }}</span>
                            <span class="title">.{{ discPrice[1] }}</span>
                            <span class="subtitle">/ {{ item.period }}</span>
                        </li>
                        <li class="rr"><span style="font-weight: bold;">{{ item.totalUsers }}</span> Pengguna Terdaftar</li>
                    </ul>

                    <ul class="packages-feature">
                        {% for itemF in item.features %}
                            {% set feature = itemF|split('|') %}
                            {% if '*' in feature[0] %}
                                <li class="rr">
                                    {% for start in feature[0]|split(',') %}
                                        <i class="fas fa-star" style="color:#007fde"></i>
                                    {% endfor %}
                                </li>
                            {% else %}
                                <li class="rr"><span style="font-weight: bold;">{{ feature[0] }}</span> {{ feature[1] }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                    <button class="btn btn-outline-secondary custom-btn mb-3 mb-md-0">{{ item.buttonLabel }}</button>
                </div>
            {% endfor %}
        </div>

        <div class="d-flex flex-column justify-content-center my-5">
            <div class="text-center">
                <h3 class="mb-0 subtitle">Powerful dengan Limit PHP yang Lebih Besar </h1>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-btween mt-4">
                <div class="px-4" style="flex: 1">
                    <div class="card" >
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex align-items-center">
                                <i class="fas fa-check-circle green"></i> 
                                <span class="mx-auto">max executuion time 300s</span>
                            </li>
                            <li class="list-group-item d-flex align-items-center" style="background-color: #f7f7f7;">
                                <i class="fas fa-check-circle green"></i> 
                                <span class="mx-auto">max executuion time 300s</span>
                            </li>
                            <li class="list-group-item d-flex align-items-center">
                                <i class="fas fa-check-circle green"></i> 
                                <span class="mx-auto">php memory limit 1024 MB</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="px-4" style="flex: 1">
                    <div class="card" >
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex align-items-center">
                                <i class="fas fa-check-circle green"></i> 
                                <span class="mx-auto">post max size 128 MB</span>
                            </li>
                            <li class="list-group-item d-flex align-items-center" style="background-color: #f7f7f7;">
                                <i class="fas fa-check-circle green"></i> 
                                <span class="mx-auto">upload max file size 128 MB</span>
                            </li>
                            <li class="list-group-item d-flex align-items-center">
                                <i class="fas fa-check-circle green"></i> 
                                <span class="mx-auto">max input vars 2500</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column justify-content-center my-5">
            <div class="text-center">
                <h3 class="mb-0 subtitle">Semua Paket Hosting Sudah Termasuk</h1>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-btween flex-wrap mt-4">
                <div class="d-flex flex-column thumb-package text-center mb-3">
                    <img src="/public/assets/images/phpsemuaversi.svg" class="img-fluid" />
                    <h5 class="title mb-0">PHP Semua Versi</h5>
                    <h6 class="subtitle">Pilih mulai dari versi PHP 5.3 s/d PHP 7.<br />Ubah sesuka Anda!</h6>
                </div>
                <div class="d-flex flex-column thumb-package text-center mb-3">
                    <img src="/public/assets/images/mysql.svg" class="img-fluid" />
                    <h5 class="title mb-0">MySQL Versi 5.6</h5>
                    <h6 class="subtitle">Nikmati MySQL versi terbaru, tercepat dan<br />kaya akan fitur.</h6>
                </div>
                <div class="d-flex flex-column thumb-package text-center mb-3">
                    <img src="/public/assets/images/cpanel.svg" class="img-fluid" />
                    <h5 class="title mb-0">Panel Hosting cPanel</h5>
                    <h6 class="subtitle">Kelola website dengan panel canggih yang<br />familiar di hati anda.</h6>
                </div>
                <div class="d-flex flex-column thumb-package text-center mb-3">
                    <img src="/public/assets/images/garansi_uptime.svg" class="img-fluid" />
                    <h5 class="title mb-0">Garansi Uptime 99.9%</h5>
                    <h6 class="subtitle">Data center mendukung kelangsungan<br />website anda 24/7.</h6>
                </div>
                <div class="d-flex flex-column thumb-package text-center mb-3">
                    <img src="/public/assets/images/innodb.svg" class="img-fluid" />
                    <h5 class="title mb-0">Database innoDB Unlimited</h5>
                    <h6 class="subtitle">Jumlah dan ukuran database yang tumbuh<br />sesuai kebutuhan Anda.</h6>
                </div>
                <div class="d-flex flex-column thumb-package text-center mb-3">
                    <img src="/public/assets/images/mysqlremote.svg" class="img-fluid" />
                    <h5 class="title mb-0">Wildcard Remote MySQL</h5>
                    <h6 class="subtitle">Mendukung s/d 25 max_user_connections<br />dan 100 max_connections.</h6>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column justify-content-center my-5">
            <div class="text-center">
                <h3 class="mb-0 subtitle">Mendukung Penuh Framework Laravel</h1>
            </div>
            <div class="d-flex flex-column flex-md-row flex-wrap mt-4">
                <div class="d-flex flex-column" style="flex:1">
                    <h5 class="mb-3 subtitle" style="line-height: 30px;">Tak perlu menggunakan dedicated server ataupun VPS yang mahal. Layanan PHP hosting murah kami mendukung penuh framework favorit anda</h5>
                    <ul class="feature-list title">
                        <li><i class="fas fa-check-circle green"></i> Install Laravel <span style="font-weight: bold;">1 klik</span> dengan Softculous Installer</li>
                        <li><i class="fas fa-check-circle green"></i> Mendukung ekstensi <span style="font-weight: bold;">PHP MCrypt, phar, mbstring, json, </span>dan <span style="font-weight: bold;">fileinfo.</span></li>
                        <li><i class="fas fa-check-circle green"></i> Tersedia <span style="font-weight: bold;">Composer</span> dan <span style="font-weight: bold;">SSH</span> untuk menginstal packages pilihan Anda</li>
                    </ul>
                    <span class="rr" style="font-size: x-small;">NB. Composer dan SSH hanya tersedia pada paket Personal dan Bisnis</span>
                    <button class="btn btn-outline-secondary custom-blue-btn mt-3 title" style="width:40%">Pilih Hosting Anda</button>
                </div>
                <div class="d-flex flex-column banner-image">
                    <img class="img-fluid" src="/public/assets/images/laravel_hosting.svg" />
                </div>
            </div>
        </div>

        <div class="d-flex flex-column justify-content-center my-5">
            <div class="text-center">
                <h3 class="mb-0 subtitle">Modul Lengkap untuk Menjalankan Aplikasi PHP Anda</h1>
            </div>
            <div class="d-flex flex-row justify-content-between flex-wrap flex-wrap mt-4 module-list">
                {% for item in phpModule %}
                    <ul>
                        {% for module in item %}
                            <li>{{ module }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
            <div class="text-center">
                <button class="btn btn-outline-secondary custom-btn title">Selengkapnya</button>
            </div>
        </div>

        <div class="d-flex flex-column justify-content-center my-5">
            <div class="d-flex flex-column flex-md-row flex-wrap">
                <div class="d-flex flex-column" style="flex:1">
                    <h2 class="mb-3 subtitle" style="line-height: 35px;">Linux Hosting yang Stabil<br /> dengan Teknologi LVE</h2>
                    <p class="rr">
                        SuperMicro <b>Intel Xeon 24-Cores</b> server dengan RAM <b>128 GB</b> dan teknologi <b>LVE CloudLinux</b> untuk stabilitas server anda. Dilengkapi dengan <b>SSD</b> untuk kecepatan <b>MySQL</b> dan caching, Apache load balancer berbasis LiteSpeed Technologies, <b>CageFS</b> security, <b>Raid-10</b> protection dan auto backup untuk keamanan website PHP anda.
                    </p>
                    <button class="btn btn-outline-secondary custom-blue-btn mt-3 title" style="width:40%">Pilih Hosting Anda</button>
                </div>
                <div class="d-flex flex-column banner-image">
                    <img class="img-fluid" src="/public/assets/images/support.png" />
                </div>
            </div>
        </div>
    </div>
    {% include "general/footer.html" %}
{% endblock %}